@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #131313;
    color: #e5e2e1;
    overflow-x: hidden;
  }

  ::selection {
    background-color: #cc0000;
    color: #fff0f0;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #131313;
  }
  ::-webkit-scrollbar-thumb {
    background: #444;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #cc0000;
  }
}

@layer utilities {
  .void-bg {
    background-color: #131313;
    background-image: radial-gradient(#222 0.5px, transparent 0.5px);
    background-size: 24px 24px;
  }

  .text-display-xl {
    font-size: clamp(48px, 8vw, 80px);
    line-height: 1.0;
    letter-spacing: -0.04em;
    font-weight: 900;
  }

  .text-headline-lg {
    font-size: clamp(32px, 4vw, 48px);
    line-height: 1.1;
    letter-spacing: -0.02em;
    font-weight: 800;
  }
}
